html, body, ul, li {
  padding: 0;
  margin: 0;
  clear: both;
}

body {
  font-family: 'Montserrat', sans-serif;
  animation: fadeInAnimation ease-out 300ms;
}

/*body {*/
/*}*/

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  --text-wrapper-padding-x: 10px;
  --text-wrapper-padding-y: 10px;
}

.mpy_pb10 {
  padding-bottom: 10px !important;
}

.mpy_pt10 {
  padding-top: 10px !important;
}

.mpy_pt20 {
  padding-top: 20px !important;
}

.mpy_pt0 {
  padding-top: 0 !important;
}

.mpy_pr40 {
  padding-right: 40px;
}

.block {
  display: block !important;
}

.mpy_navigation {
  overflow: hidden;
  background-color: #678;
  display: flex;
  justify-content: space-between;
}

.mpy_navigation__link {
  color: #eee;
  text-align: center;
  padding: 10px 12px;
  min-height: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-right: 1px solid #0000;
  border-left: 1px solid #0000;
}

.mpy_navigation__link:hover {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  background-color: #89a;
}

.mpy_navigation__link:active {
  background-color: #9ab;
  color: white;
}

.mpy_overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #0007;
  z-index: 10;
}

.mpy_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mpy_main_wrapper {
  /*max-width: 900px;*/
  justify-content: left;
  align-items: center;
  display: flex;
  flex: 1;
}

.mpy_avatar_output__wrapper {
  background-color: #bce;
  border-radius: 50%;
  box-shadow: 1px 1px 5px #0009;
  height: 150px;
  width: 150px;
  margin: 10px 0;
  position: relative;
  background-image: linear-gradient(to right, #bdf7, #bdf7),
  linear-gradient(to right, #aaa 50%, #fff 50%),
  linear-gradient(to bottom, #aaa 50%, #fff 50%);

  background-blend-mode: normal, difference, normal;
  background-size: 18px 18px;
}

.mpy_avatar_error_sign {
  position: absolute;
  color: red;
  font-family: 'Material Icons Outlined';
  font-size: 100px;
  line-height: 100px;
  top: 25px;
  left: 25px;
  opacity: 0;
}

.blink {
  animation: blinker 0.7s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 1;
  }
}

.mpy_avatar_output__icon {
  color: #eee;
  font-family: 'Material Icons Outlined';
  font-size: 25px;
  font-weight: lighter;
  font-style: normal;
  text-decoration: none;
  border-radius: 8px;
  /*background-color: #4CAF50;*/
  background: linear-gradient(to top, #5b6, #8e9);
  display: inline;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 3px 5px;
  box-shadow: 1px 1px 5px #0009;
  cursor: pointer;
}

.mpy_avatar_output__icon:hover {
  box-shadow: 3px 3px 10px #0009;
  filter: brightness(104%);
}

.mpy_avatar_preview {
  clip-path: circle(50%);
  object-fit: cover;
}

.mpy_content {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*flex-direction: column;*/
}

.mpy_text_input {
  color: #678;
  padding: 10px 30px 10px 10px;
  min-width: 240px;
  width: 100%;
  border: 1px solid #678;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  font-size: medium;
  margin: 1px;
  /*margin: 1px 0 1px 0;*/
}

.mpy_text_input:focus {
  color: #567;
  outline: none;
  border: 2px solid #567;
  margin: 0;
  /*padding-left: 9px;*/
}

.mpy_text_input__wrapper {
  position: relative;
  padding: var(--text-wrapper-padding-y) var(--text-wrapper-padding-x);
  width: calc(100% - var(--text-wrapper-padding-x) - var(--text-wrapper-padding-x));
  margin: 0;
  font-weight: normal;
  background-color: inherit;
  text-align: center;
  display: block;
}

.mpy_text_input__label {
  position: absolute;
  top: calc(var(--text-wrapper-padding-y) - 9px);
  left: calc(var(--text-wrapper-padding-x) + 8px);;
  font-size: small;
  font-weight: lighter;
  background-color: inherit;
  color: #567;
  padding: 0 4px;
  margin: 0;
  white-space: nowrap;
  display: inline-block;
}

.mpy_text_input__icon {
  position: absolute;
  top: calc(var(--text-wrapper-padding-y) + 10px);
  right: calc(var(--text-wrapper-padding-x) + 10px);
  color: #567;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  text-shadow: 0 0 1px #0009;
  background-color: inherit;
}

.mpy_text_input__icon:hover {
  text-shadow: 1px 1px 3px #0009;
}

.mpy_text_input__icon.prepend {
  right: calc(var(--text-wrapper-padding-x) + 40px);
}


.mpy_dialog {
  border-radius: 20px;
  display: block;
  /*background-color: #eeeeee;*/
  overflow: hidden;
  box-shadow: 0 5px 20px #0007;
  /*z-index: 20;*/
}


.mpy_dialog__header {
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 2px 0 2px 35px;
  border-bottom: 1px solid #5677;
  font-weight: bold;
  font-size: larger;
  background-color: #89a;
  color: #eee;
}

.mpy_dialog__content {
  padding: 0 20px;
  /*min-height: 40px;*/
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  /*min-width: 300px;*/
}

.mpy_dialog__footer {
  padding: 5px 0 25px 0;
  justify-content: center;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.mpy_dialog__link {
  margin: auto;
  padding: 10px 0 20px 0;
  font-size: small;
  color: #567;
}

.mpy_chat_list {
  /*background-color: #88ee99;*/
  min-width: 200px;
  display: block;
  height: calc(100vh - 40px);
  border-right: 1px #444444 solid;
}

.mpy_chat_content {
  flex: 1;
  display: flex;
  height: calc(100vh - 40px);
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
}

.mpy_chat_content__received {
  background: #fff;
  margin: 10px auto 10px 10px;
  display: flex;
  padding: 15px 20px 15px 10px;
  border-radius: 20px;
  box-shadow: 0 0 5px #0007;
  position: relative;
  max-width: 50em;
}

.mpy_chat_content__received:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid #fff;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  border-bottom: 5px solid transparent;
  left: 30px;
  bottom: -10px;
  filter: drop-shadow(0 2px 1px #0003) drop-shadow(-2px 2px 1px #0003);
  position: absolute;
}


.mpy_chat_content__sended {
  background: #cfc;
  /*color: #fff;*/
  margin: 10px 10px 10px auto;
  padding: 15px 15px;
  border-radius: 20px;
  box-shadow: 0 0 5px #0007;
  position: relative;
  max-width: 40em;
  display: flex;
  align-items: flex-end;
  justify-content: center;

}

.mpy_chat_content__sended:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid #cfc;
  border-right: 5px solid transparent;
  border-top: 5px solid #cfc;
  border-bottom: 5px solid transparent;
  right: 25px;
  bottom: -10px;
  transform: scaleX(-1);
  filter: drop-shadow(0 2px 1px #0003) drop-shadow(-2px 2px 1px #0003);
  position: absolute;
}

.mpy_chat_content__message {
  padding: 0 5px 0 0;
}

.mpy_chat_content__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 0;
  flex-direction: column;
}

.mpy_chat_input {
  margin-top: 15px;
}


#dialog {
  transition: opacity;
  transition-duration: 300ms;
  opacity: 0;
}


.mpy_button {
  border-radius: 8px;
  font-weight: bolder;
  color: #444;
  padding: 10px 20px;
  margin: 0 15px;
  background-image: linear-gradient(to top, #5b6, #8e9);
  box-shadow: 1px 1px 5px #0009;
  cursor: pointer;
  display: inline;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.mpy_button:hover {
  box-shadow: 3px 3px 10px #0009;
  filter: brightness(103%);
}

.block_button {
  padding: 10px 0;
  display: block;
  text-align: center;
  width: 100%;
  margin: 0;
  box-shadow: none;
  border: 1px solid #678;
  border-radius: 5px;
}


.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.undraggable {
  user-drag: none;
  -webkit-user-drag: none;
}

.mpy_white {
  background-color: #ffffff;
  background-image: none;
}

.mpy_lightgrey {
  background-color: #e0e7ef;
  /*background-color: #5f5;*/
  background-image: none;
}

.mpy_icon_clickable {
  cursor: pointer;
}

.mpy_icon_clickable:hover {
  cursor: pointer;
  text-shadow: 1px 2px 5px #0007;
}

.mpy_chat_display__wrapper {
  padding: 5px 5px;
  margin: 0 10px 5px 10px;
  display: flex;
  text-align: center;
  width: calc(100% - 30px);
  /*margin: 0;*/
  /*border: 1px solid #678;*/
  border-radius: 5px;
  box-shadow: 0 0 2px #0007;
  cursor: pointer;
}

.mpy_chat_display__wrapper:hover {
  box-shadow: 1px 1px 4px #000;

}

.mpy_chat_display__header {
  font-weight: bolder;
  font-size: smaller;
  text-align: left;
  padding: 10px 5px 0 10px;
}

.mpy_chat_time {
  font-size: x-small;
  text-align: center;
  padding: 0;
}

.mpy_chat_nickname {
  font-size: x-small;
  text-align: center;
  padding: 5px 0 5px 0;
}

.mpy_chat_display__status {
  font-size: small;
  font-weight: bolder;
  text-align: center;
  border-radius: 50%;
  background: linear-gradient(to top, #5b6, #8e9);
  width: 1em;
  margin: 3px auto 3px auto;
  line-height: 1em;
  padding: 3px;
}

.mpy_chat_display__tool {
  flex: 0;
  line-height: 0;
  align-items: center;
  display: flex;
  margin-left: 4px;
}

/*.mpy_chat_display__tool:hover {*/
/*  color: #567;*/
/*}*/

.clickable {
  cursor: pointer;
  box-shadow: 0 0 2px #0007;
}

.clickable:hover {
  box-shadow: 1px 1px 4px #000;
}

.rounded {
  border-radius: 50%;
}

.mpy_chat_display__avatar {
  cursor: pointer;
  box-shadow: 0 0 3px #0007;
  border-radius: 50%;
  position: relative;;
}

.mpy_chat_display__avatar:hover {
  box-shadow: 1px 1px 4px #000;
}

.mpy_chat_display__avatar:hover > span {
  color: #556677;
}

.mpy_chat_display__avatar_sign {
  position: absolute;
  color: transparent;
  width: 1em;
  height: 1em;
  z-index: 1;
  bottom: -4px;
  right: -4px;
  font-size: 25px;
}

.mpy_chat_display__body {
  font-weight: lighter;
  font-size: smaller;
  text-align: left;
  padding: 0.5em 10px 0 10px;
  margin: 0 0 0.5em 0;
  height: 2.5em;
  overflow: hidden;
  max-width: 150px;
  /*background-color: #bbccee;*/
}

.mpy_chat_message_status {
  padding: 0 5px;
  font-size: 16px;
}

.mpy_chat_message_readed {
  color: #0bf;
}

