html, body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}

:root {
  --vc-border-color: grey;
}

.vc-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.vc-container {
  height: 100%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vc-wrap {
  width: 400px;
}

.vc-text-input-wrap {
  position: relative;
  padding: 20px 10px;
  /*min-width: 256px;*/

  /*width: calc(100% - 60px);*/
  /*padding-bottom: 10px;*/
}


.vc-dialog {
  border-radius: 20px;
  display: block;
  background-color: orange;
  overflow: hidden;
  box-shadow: 0 5px 20px #0007;
  /*max-height: 400px;*/
}

.vc-dialog-header, .vc-dialog-content, .vc-dialog-footer {
  /*border-radius: 20px 20px 0 0;*/
  background-color: #eee;
  padding: 0 15px 0 15px;
  font-weight: bold;
  font-size: larger;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.vc-dialog-header {
  padding-left: 32px;
  padding-top: 8px;
}

.vc-dialog-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
}

.vc-dialog-footer {
  padding-bottom: 16px;
  justify-content: center;
  display: flex;
}

.vc-register-ref {
  font-size: small;
  padding-top: 0;
}

.vc-button {
  border-radius: 8px;
  padding: 4px 10px 4px 10px;
  margin: 0 10px 0 10px;
  background: linear-gradient(to top, #fefcea, #f1da36);
  box-shadow: 0 1px 5px #0007;
  cursor: pointer;
}

.vc-button:hover {
  box-shadow: 0 1px 10px #0007;
  filter: brightness(103%);
}


.vc-text-input {
  padding: 10px;
  min-width: 300px;
  margin-left: -10px;
  width: 100%;
  border: 1px solid var(--vc-border-color);
  border-radius: 4px;
  outline-color: green;
  background-color: transparent;
  font-size: medium;
  /*position: static;*/
}

.vc-label {
  position: absolute;
  top: 11px;
  left: 8px;
  font-size: small;
  font-weight: lighter;
  background-color: #eee;
  padding-left: 4px;
  padding-right: 4px;
  /*transition-property: width, opacity;*/
  /*transition-duration: 0.5s;*/
  /*overflow: hidden;*/
  white-space: nowrap;
  /*text-overflow: clip;*/
  display: inline;
}
@media only screen and (max-height: 540px) {
  .register .vc-wrap {
    width: 650px;
  }

  .register .vc-dialog-content {
    max-height: 50vh;
  }

  .register .vc-text-input-wrap {
    flex-basis: 33%;
    padding: 20px 10px 10px 10px;
  }
  .register .vc-text-input {
    min-width: auto;
  }


}

@media only screen and (max-height: 420px) {
  .register .vc-dialog-content {
    max-height: 60vh;
  }
}
