//:root {
//  --text-wrapper-padding-x: 10px;
//  --text-wrapper-padding-y: 10px;
//}

$text-wrapper-padding-x: 10px;
$text-wrapper-padding-y: 10px;

$icon-font: 'Material Icons';
$icon-font-outlined: 'Material Icons Outlined';
$navigation-menu-height: 40px;

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes blinker {
  50% {
    opacity: 1;
  }
}

html {
  padding: 0;
  margin: 0;
  clear: both;
}

body {
  padding: 0;
  margin: 0;
  clear: both;
  font-family: 'Montserrat', sans-serif, 'Material Icons';
}

ul {
  padding: 0;
  margin: 0;
  clear: both;
}

li {
  padding: 0;
  margin: 0;
  clear: both;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #000;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 3px #000;
  border-radius: 5px;
  background: #678;

  &:hover {
    background: #789;
  }
}

input {
  &:invalid {
    box-shadow: none;
  }
}

.animate {
  animation: fadeInAnimation ease-out 300ms;
}

.mpy_navigation {
  overflow: hidden;
  background-color: #678;
  display: flex;
  justify-content: space-between;
}

.mpy_toaster_wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: 20vw;
  bottom: 50px;
  right: 50px;
  //left: 50%;
  //transform: translate(-50%);
  z-index: 150;
  padding: 0 10px;
}

.mpy_toaster_toast {
  color: #333;
  display: block;
  width: 100%;
  text-align: center;
  margin: 5px 0;
  padding: 15px 15px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #0009;
  box-sizing: border-box;
  text-shadow: 0 0 5px #0007;
  opacity: 1;
  transition: opacity 333ms ease-in-out;
}

.mpy_toaster_toast__error {
  background-image: linear-gradient(to right, #f67, #d45);
  color: white;
  font-weight: bolder;
}

.mpy_toaster_toast__warn {
  background-image: linear-gradient(to right, #ee6, #bb3);
}

.mpy_toaster_toast__info {
  background-image: linear-gradient(to right, #8e9, #5b6);
}

.mpy_navigation_menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #678;
  border-radius: 10px;
  padding: 10px 0;
  margin: 0;
  box-shadow: 1px 1px 5px #0009;
  z-index: 20;
}

.mpy_navigation_link {
  color: #eee;
  text-align: center;
  padding: 10px 12px 10px 30px;
  min-height: 20px;
  min-width: 50px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-right: 1px solid #0000;
  position: relative;
  vertical-align: middle;

  &::before {
    content: attr(data-icon);
    top: 9px;
    left: 9px;
    text-align: left;
    position: absolute;
    width: 20px;
    font-size: 20px;
    overflow: hidden;
    font-family: $icon-font;
  }

  &:hover {
    background-color: #789;
  }

  &:active {
    background-color: #9ab;
    color: #fff;
  }
}

#app {
  max-width: 1200px;
  align-items: center;
  margin: auto;
  height: 100vh;
}

.mpy_overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #0007;
  z-index: 100;
  left: 0;
  top: 0;
}

.mpy_container {
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mpy_container__shadow {
  box-shadow: 0 0 10px #0007;
  height: 100vh;
}

.mpy_main_wrapper {
  justify-content: left;
  align-items: center;
  display: flex;
  flex: 1;
}

.mpy_avatar_output_wrapper {
  background-color: #bce;
  border-radius: 50%;
  box-shadow: 1px 1px 5px #0009;
  height: 150px;
  width: 150px;
  margin: 10px auto;
  position: relative;
  background-image: linear-gradient(to right, #bdf7, #bdf7), linear-gradient(to right, #aaa 50%, #fff 50%), linear-gradient(to bottom, #aaa 50%, #fff 50%);
  background-blend-mode: normal, difference, normal;
  background-size: 18px 18px;
}

.mpy_avatar_error_sign {
  position: absolute;
  color: red;
  font-family: $icon-font-outlined;
  font-size: 100px;
  line-height: 100px;
  top: 25px;
  left: 25px;
  opacity: 0;
}

.blink {
  animation: blinker 0.7s step-start infinite;
}

.mpy_avatar_output_icon {
  color: #eee;
  font-family: $icon-font-outlined;
  font-size: 25px;
  font-weight: lighter;
  font-style: normal;
  text-decoration: none;
  border-radius: 8px;
  background: linear-gradient(to top, #5b6, #8e9);
  display: inline;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 3px 5px;
  box-shadow: 1px 1px 5px #0009;
  cursor: pointer;

  &:hover {
    box-shadow: 3px 3px 10px #0009;
    filter: brightness(104%);
  }
}

.mpy_avatar_preview {
  clip-path: circle(50%);
  object-fit: cover;
}

.mpy_text_input {
  color: #678;
  padding: 10px 10px 10px 10px;
  width: 100%;
  border: 1px solid #678;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  font-size: medium;
  margin: 1px;

  &:focus {
    color: #567;
    outline: none;
    border: 2px solid;
    margin: 0;
  }
}

.mpy_text_input__invalid {
  border-color: #c34;

  &:focus {
    border-color: #c34;
  }
}

.mpy_text_input_wrapper {
  position: relative;
  padding: $text-wrapper-padding-y $text-wrapper-padding-x;
  margin: 0;
  font-weight: normal;
  background-color: inherit;
  text-align: center;
  display: block;
  box-sizing: border-box;
  flex: 0 0 100%;
}

.mpy_text_input_label {
  position: absolute;
  top: $text-wrapper-padding-y - 9px;
  left: $text-wrapper-padding-x + 8px;
  font-size: small;
  font-weight: lighter;
  background-color: inherit;
  color: #567;
  padding: 0 4px;
  margin: 0;
  white-space: nowrap;
  display: inline-block;
  transition-timing-function: ease-in;
}

.mpy_text_input_label__invalid {
  color: #c34;
}

.mpy_text_alert {
  display: block;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  font-size: 3em;
  text-align: center;
  color: white;
  width: 100vw;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
}

.mpy_text_input_icon {
  position: absolute;
  top: $text-wrapper-padding-y + 8px;
  right: $text-wrapper-padding-x + 8px;
  color: #567;
  cursor: pointer;
  text-shadow: 0 0 1px #0009;
  background-color: inherit;

  &:hover {
    text-shadow: 1px 1px 3px #0009;
  }
}

.mpy_text_input_icon.prepend {
  right: $text-wrapper-padding-x + 40px;
}

.mpy_dialog {
  border-radius: 20px;
  display: block;
  overflow: hidden;
  box-shadow: 0 5px 20px #0007;
  animation: fadeInAnimation ease-out 300ms;
  z-index: 20;
}

.mpy_dialog_header {
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 2px 0 2px 35px;
  border-bottom: 1px solid #5677;
  font-weight: bold;
  font-size: larger;
  background-color: #89a;
  color: #eee;
}

.mpy_dialog_content {
  padding: 0 20px;
  display: block;
  align-items: center;
  flex-direction: column;
  //flex-flow: row wrap;
}

.mpy_dialog_footer {
  padding: 5px 0 25px 0;
  justify-content: center;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.mpy_dialog_link {
  margin: auto;
  padding: 10px 0 20px 0;
  font-size: small;
  color: #567;
  outline: none;
  display: block;
  text-align: center;

  &:active {
    outline: none;
  }
}

.mpy_chat_list {
  width: 260px;
  display: block;
  height: calc(100vh - 40px);
  overflow-y: auto;
  overflow-x: hidden;
  direction: rtl;
  border-right: 1px #444 solid;
  box-sizing: border-box;
  padding: 0 0 60px 0;
  position: relative;
}

.mpy_chat_list_button_wrapper {
  position: fixed;
  bottom: 5px;
  width: inherit;
  display: flex;
  padding-bottom: 10px;
  z-index: 30;
  transition: transform 0.5s;
}

.mpy_chat_users_list {
  width: 100px;
  display: block;
  height: calc(100vh - 40px);
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 1px #444 solid;
  box-sizing: border-box;
  padding: 0 0 60px 0;
  position: relative;
}

.mpy_chat_content {
  //flex: 1;
  display: flex;
  height: calc(100vh - 113px);
  //position: relative;
  //bottom: 0;
  padding-bottom: 10px;
  flex-direction: column-reverse;
  //justify-content: flex-start;
  overflow-y: auto;
}

.mpy_chat_input {
  margin-top: 0;
  background-color: #e0e7ef;
  bottom: 0;
  position: relative;
  display: block;
}

.mpy_chat_wrapper {
  flex: 1;
  display: block;
  height: calc(100vh - 40px);
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  margin: auto 0 0 0;
  //overflow-y: hidden;
}

.mpy_chat_content_received {
  background: #fff;
  margin: 10px;
  display: inline-flex;
  padding: 15px 20px 15px 0;
  border-radius: 20px;
  box-shadow: 0 0 5px #0007;
  position: relative;
  max-width: 40em;

  &::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid #fff;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    border-bottom: 5px solid transparent;
    left: 30px;
    bottom: -10px;
    filter: drop-shadow(0 2px 1px #0003) drop-shadow(-2px 2px 1px #0003);
    position: absolute;
  }
}

.mpy_chat_content_sended {
  background: #cfc;
  margin: 10px;
  flex-direction: row-reverse;
  display: inline-flex;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 5px #0007;
  position: relative;
  max-width: 40em;

  &::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid #cfc;
    border-right: 5px solid transparent;
    border-top: 5px solid #cfc;
    border-bottom: 5px solid transparent;
    right: 25px;
    bottom: -10px;
    transform: scaleX(-1);
    filter: drop-shadow(0 2px 1px #0003) drop-shadow(-2px 2px 1px #0003);
    position: absolute;
  }
}

.mpy_chat_content_message {
  padding: 0 5px 0 0;
}

.mpy_chat_content_info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  flex-direction: column;
  //background-color: #0bf7;
}

#mpy_dialog {
  transition: opacity;
  transition-duration: 300ms;
  opacity: 0;
}

.mpy_button {
  border-radius: 5px;
  font-weight: bolder;
  color: #444;
  padding: 10px 20px;
  margin: 0 15px;
  background-color: #6c7;
  background-image: linear-gradient(to top, #5b6, #8e9);
  box-shadow: 0 0 5px #0009;
  cursor: pointer;
  display: inline;
  border: 0;
  outline: 0;
  text-align: center;
  transition: transform 500ms linear;

  &:hover {
    box-shadow: 0 0 10px #0009;
    filter: brightness(105%);
  }

  &:focus {
    filter: brightness(105%);
  }

  &:active {
    filter: brightness(105%);
  }
}

.mpy_button__block {
  display: block;
  background-color: #eee;
  background-image: none;
  margin: 10px 10px;
  box-shadow: 0 0 2px #000;
  box-sizing: border-box;
}

.mpy_button__round {
  display: inline-block;
  border-radius: 50%;
  padding: 0.5em 0.5em;
  font-size: 1em;
  margin: auto;
  width: 1.5em;
  height: 1.5em;
  line-height: 1em;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 0 2px #000;
}

.mpy_button__disabled {
  box-shadow: 0 0 1px #0003;
  filter: grayscale(90%);
  cursor: not-allowed;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  &:hover {
    box-shadow: 0 0 1px #0003;
    filter: grayscale(90%);
    cursor: not-allowed;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  &:active {
    box-shadow: 0 0 1px #0003;
    filter: grayscale(90%);
    cursor: not-allowed;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  &:focus {
    box-shadow: 0 0 1px #0003;
    filter: grayscale(90%);
    cursor: not-allowed;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
}

.mpy_block_button {
  padding: 10px 0;
  display: block;
  text-align: center;
  width: 100%;
  margin: 0;
  box-shadow: none;
  border: 1px solid #678;
  border-radius: 5px;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.undraggable {
  -webkit-user-drag: none;
}

.mpy_white {
  background-color: #fff;
  background-image: none;
}

.mpy_lightgrey {
  background-color: #e0e7ef;
  background-image: none;
}

.mpy_icon_clickable {
  cursor: pointer;

  &:hover {
    cursor: pointer;
    text-shadow: 1px 2px 5px #0007;
  }
}

.mpy_chat_member_wrapper {
  padding: 5px 0;
  margin: 10px 10px;
  display: block;
  text-align: center;
  direction: ltr;
  border-radius: 5px;
  box-shadow: 0 0 2px #0007;
  cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur), grab !important;
  box-sizing: content-box;

  &:hover {
    box-shadow: 1px 1px 5px #0007;
  }
}

.mpy_chat_display_wrapper {
  padding: 5px 5px;
  margin: 10px 10px;
  display: flex;
  text-align: center;
  direction: ltr;
  border-radius: 5px;
  box-shadow: 0 0 2px #0007;
  cursor: pointer;
  box-sizing: content-box;
  filter: brightness(95%);

  &:hover {
    box-shadow: 1px 1px 7px #0009;
  }
}

.mpy_chat_display_wrapper__active {
  box-shadow: 1px 1px 7px #0009;
  filter: brightness(105%);

  &:hover {
    box-shadow: 1px 1px 9px #000c;
  }
}

.mpy_chat_display_header {
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  padding: 10px 5px 0 10px;
}

.mpy_chat_display_nick {
  font-size: small;
  text-align: center;
  padding: 5px 0 0 0;
  overflow: hidden;
}

.mpy_chat_time {
  font-size: x-small;
  text-align: center;
  padding: 0;
}

.mpy_chat_nickname {
  font-size: x-small;
  text-align: center;
  //padding: 5px 0 5px 0;
}

.mpy_chat_display_sign {
  font-size: small;
  font-weight: bolder;
  text-align: center;
  border-radius: 50%;
  background: linear-gradient(to top, #5b6, #8e9);
  width: 1em;
  margin: 3px auto 3px auto;
  line-height: 1em;
  padding: 3px;
}

.mpy_chat_display_tool {
  flex: 0;
  line-height: 0;
  align-items: center;
  display: flex;
  margin-left: 4px;
}

.clickable {
  cursor: pointer;
  box-shadow: 0 0 2px #0007;

  &:hover {
    box-shadow: 1px 1px 4px #000;
  }
}

.rounded {
  border-radius: 50%;
}

.mpy_chat_display {
  flex: 2;
}

.mpy_chat_member_avatar {
  margin: auto;
  border-radius: 50%;
  position: relative;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 5px #0007;
}

.mpy_chat_display_avatar {
  cursor: pointer;
  box-shadow: 0 0 3px #0007;
  margin: auto;
  border-radius: 50%;
  position: relative;

  &:hover {
    box-shadow: 1px 1px 7px #000;

    > span {
      color: #5b6;
      text-shadow: 0 0 2px #000;
    }
  }
}

.mpy_chat_display_avatar_sign {
  position: absolute;
  color: transparent;
  width: 1em;
  height: 1em;
  z-index: 1;
  bottom: -4px;
  right: -4px;
  font-size: 25px;
}

.mpy_chat_member_avatar_sign {
  position: absolute;
  text-shadow: 0 0 3px #0007;
  //box-shadow: 0 0 3px #0007;
  color: #6c7;
  width: 1em;
  height: 1em;
  z-index: 1;
  bottom: -7px;
  right: -7px;
  font-size: 20px;
  padding: 1px;
  //background-size: contain;
  //background-color: gold;
  border-radius: 50%;
}

.mpy_chat_display_body {
  font-weight: lighter;
  font-size: smaller;
  text-align: left;
  padding: 0.5em 10px 0 10px;
  margin: 0 0 0.5em 0;
  height: 2.5em;
  overflow: hidden;
}

.mpy_chat_message_status {
  padding: 0 5px;
  font-size: 16px;
}

.mpy_chat_message_readed {
  color: #0bf;
}

.mpy_pb10 {
  padding-bottom: 10px;
}

.mpy_pt10 {
  padding-top: 10px;
}

.mpy_pt20 {
  padding-top: 20px;
}

.mpy_py20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mpy_py10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mpy_pt0 {
  padding-top: 0;
}

.mpy_pr40 {
  padding-right: 40px;
}

.mpy_trash {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.mpy_trash__red {
  background-color: red;
  background-image: linear-gradient(to top, #d00, #f55);
}
